header{
    background: rgba(0,0,139,0.452);
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

.head{
    flex: 1;
}

.links{
    display: flex;
    list-style-type: none;
    color: #e5e7eb;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
    gap: 16px;
}